<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body>
<h1>Song Edit</h1>

<form th:object="${song}" th:action="@{../save}" action="#" method="post">

<label for="id"></label>
<input type="hidden" id="id" th:field="*{id}" readonly="readonly" />
<br>
<div>
<label for="name">Name: 
<input id="name" th:field="*{name}" class="form-control"/></label>
</div>
<br>
<div>
<label for="artist">Artist: 
<input id="artist" th:field="*{artist}" class="form-control"/></label>
</div>
<br>
<div>
<label for="album">Album: 
<input id="album" th:field="*{album}" class="form-control"/></label>
</div>
<br>
<div>
<label for="genre">genre: 
<input id="genre" th:field="*{genre}" class="form-control"/></label>
</div>
<br>
<div>
<label for="year">Year: 
<input id="year" th:field="*{year}" class="form-control"/></label>
</div>
<br>
<div>
<label for="playlist">Playlists: 
<select id="playlist" th:field="*{playlist}" class="form-control">
	<option th:each="playlist: ${playlists}" 
	th:value="${playlist.id}"
	th:text="${playlist.name}">
	</option>
	</select></label>
</div>
	<br>
<input type="submit" value="Save" class="btn btn-success"/>
</form>


</body>
</html>