<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Music Library</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<h1>Add a Song</h1>

<form th:object="${song}" th:action="@{save}" action="#" method="post">
<div>
<label for="name">Name:
<input id="name" th:field="*{name}" class="form-control"/>  </label>
</div>
<br>
<div>
<label for="artist">Artist: 
<input id="artist" th:field="*{artist}" class="form-control"/> </label>
</div>
<br>
<div>
<label for="album">Album:
<input id="album" th:field="*{album}" class="form-control"/>  </label>
</div>
<br>
<div>
<label for="genre">Genre: 
<input id="genre" th:field="*{genre}" class="form-control"/> </label>
</div>
<br>
<div>
<label for="year">Year: 
<input id="year" th:field="*{year}" class="form-control"/> </label>
</div>
<br>
<div>
<label for="playlist">Playlist: 
<select id="playlist" th:field="*{playlist}" th:value="*{playlist}" class="form-control">
	 <option th:each="playlist: ${playlists}" th:value="${playlist.id}" th:text="${playlist.name}">
	</option>
	</select> </label>
	</div>
	<br>
<input type="submit" value="Save" class="btn btn-success"/>
</form>


</body>
</html>